* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

*::before
*::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

body{
    height: 100vh;
    background: #161616;
}
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.container::before {
    top: -7.320644216691069vw;
    left:  3.6603221083455346vw;
    background: linear-gradient(#f0f, #f00);
    clip-path: circle(20% at 25% 30%);
}
.container::after {
    top: 7.320644216691069vw;
    left: 3.6603221083455346vw;
    background: linear-gradient(#e91e63, #2196f3);
    clip-path: circle(20% at 70% 65%);
}
.container .card-wrapper {
position: absolute;
display: grid;
place-items: center;
text-align: center;
z-index: 1;
width: 21.961932650073205vw;
height: 21.961932650073205vw;
box-shadow:  1.4641288433382138vw  1.4641288433382138vw 3.6603221083455346vw rgba(0, 0, 0, 0.5);
border-radius: 1.0980966325036603vw;
border-top: 0.07320644216691069vw solid rgba(255, 255, 255, 0.5);
border-left: 0.07320644216691069vw solid rgba(255, 255, 255, 0.5);
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(0.36603221083455345vw);
overflow: hidden;
}
.container .card-wrapper .content h3 {
    font-size: 1.8em;
    color: #fff;
}
.container .card-wrapper .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card-wrapper .content a {
    display: inline-block;
    padding: 0.5856515373352855vw 1.4641288433382138vw;
    margin-top: 1.0980966325036603vw;
    background:#fff;
    color: #000;
    border-radius: 1.4641288433382138vw;
    text-decoration: none;
    font-weight: 500;
}

